/*! normalize.css 开始*/
html
{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;
    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    background: transparent;
}

a:active,
a:hover
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}
mark
{
    color: #000;
    background: #ff0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 40px;
}

hr
{
    box-sizing: content-box;
    height: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0;
    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}
.clearfix::after{
    content: ".";
    display: block;
    height: 1px;
    visibility: hidden;
    clear: both;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
/*! normalize.css 结束*/

/*====== 首页 ======*/
body {
    background-color: #ccc;
}
.scroll-box {
    width: 540px;
    margin: 40px auto 0;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
/*标签切换区*/
.scroll-tab {
    height: 34px;
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    background-color: #f8f8f8;
}
.tab-item {
    float: left;
    padding: 0 24px;
    font: 14px/34px "Microsoft Yahei";
    height: 34px;
    border-right: 1px solid #e5e5e5;
    text-align: center;  
    cursor: pointer;
}
.tab-active {
    margin:-1px 0;
    color: #00be3c;
    border-top: 2px solid #00be3c;
    background-color: #fff;
}
.scroll-wrap {
    position: relative;
    width: 100%;
    height: 300px;   
}
.scroll-cont {
    height: 100%;
    padding: 0 15px;
    overflow: hidden;
}
.scroll-cont h3 {
    font: 14px/3 "Microsoft Yahei";
    text-align: center;
}
.scroll-cont p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    text-indent: 2em;
}
.scroll-ol {
    min-height: 100%;   
}
.scroll-wrap .scroll-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #eaeaea;
}
.scroll-wrap .scroll-slider {
    position: absolute;
    top: 0;
    left: 1px;
    width: 8px;
    height: 30px;
    background-color: #fff;
}
