/*! normalize.css 开始*/
html
{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;
    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    background: transparent;
}

a:active,
a:hover
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}
mark
{
    color: #000;
    background: #ff0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 40px;
}

hr
{
    box-sizing: content-box;
    height: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0;
    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}
.clearfix::after{
    content: ".";
    display: block;
    height: 1px;
    visibility: hidden;
    clear: both;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
/*! normalize.css 结束*/

/*====== 首页 ======*/
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container,.slider-wrapper, .slider {
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
}
.slider-wrapper {
    position: absolute;
}
.slider img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.page {
   position: absolute;
}
.vertical.page{
    right: 10px;
    top: 50%;
    margin-top: -50px;
}
.horizontal.page{
    left: 50%;
    bottom: 10px;
    margin-left: -50px;
}
.page li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 10px 5px;
    cursor: pointer;
}
.horizontal.page li{
    display: inline-block;
    vertical-align: middle;
}
.page li.active{
    width: 14px;
    height: 14px;
    border: 2px solid #FFFE00;
    background: none;
    margin-left: 0;
}